// .articles {
// }

.articles__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 90px;

    h2{
        font-family: Roboto;
        font-size: 70px;
        font-weight: 700;
    }

    a{
        color: #929292;

        font-family: Roboto;
        font-size: 16px;
        font-weight: 600;
        line-height: 21px;
    }
}